* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.productList>p:first-child,.cost>p:first-child{
    background-color: gray;
    color: #fff;
    padding: 12px;
    text-align: center;
}
.productList>p,.cost>p{
    text-align: center;
}
.productItem {
    display: grid;
    grid-template-rows:50px auto;
    gap: 20px;
}
.product{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 95px;
}
.newCard {
    height: 150px;
    width: 230px;
    border: 1px solid #8080803b;
    box-shadow: 0 1px 1px 1px #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #2451cd;
    border-radius: 5px;
    color: #2451cd;
}

.myCard {
    height: 300px;
    width: 350px;
    display: flex;
    border: 1px solid #8080803b;
    box-shadow: 0 1px 1px 1px #eee;
    margin-top: 20px;
}
.myCard>div{
    flex-grow: 1;
}
.productList, .cost{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.totalDiv{
    display: flex;
    width: 350px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border: 1px solid #8080803b;
    box-shadow: 0 1px 1px 1px #eee;
    border-top: none;
}
input{
    padding: 5px;
}