*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    background:black;
    
}
.container{
    height: 630px;
    width: 830px;
    margin: auto;
    margin-top: 46px;
    background-color: #bb54ee;
}
.m-content{
    width: 320px;
    height: 630px;
    background: #ffff;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .3);
    padding: 16px;
    border-radius: 30px;
    margin: auto;
    position: relative;
    overflow: hidden;
    
  
}
.nav-2{
  height: 36px;
  width:230px;
  border-radius: 15px;
  background-color:#fff;
  position: absolute;
  margin-top: -20px;
  z-index: 3;
  display: none;
}
.sbar-1{
    height: 590px;
    width:300px;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 30px;
    background-color:#00005070;
    cursor: pointer;
    display: none;
}

.nav{
    height: 605px;
    width: 170px;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color:white;
    display: none;
}
.payment-image{
    height: 40px;
    width: 50px;
    background-image: url(image/images\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flag-image{
    height: 30px;
    width: 40px;
    margin-left: 10px;
    background-image: url(image/istockphoto-1156722488-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav p{
    font-size: 15px;
}
.nav span{
    font-size: 10px;
    color: gray;
}
.mm{
    width: 270px;
    height: 580px;
    background: #ffff;
    border-radius: 20px;
    margin: auto;
}
.heading{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
     
}

#h-1{
    font-weight: bold;
    font-size: 35px;
    margin-right: 40px;

}

.a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    
}
#z-1{
    background-image: url(image/images\ \(6\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 3; */
    /* margin-left: -8px; */
}
#z-2{
    background-image: url(image/images\ \(5\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 2; */
    /* margin-left: -8px; */
}
#z-3{
    background-image: url(image/ntsXEB2r_400x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */
    /* margin-left: -8px; */
}
.a:hover{
    opacity: 0.8;
}
.s-content{
    height: 420px;
    margin-top: 35px;
    
}
.box-1{
    height: 92px;
    display: flex;
    position: relative;
    gap: 15px;
  
   
}
#cont-1 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.25s ease-in-out 1 alternate View;
  }
  
  @keyframes View {
    from { left:150px; top:0px;}
    to   { left:0px; top:0px;}
    
  }
  #cont-2 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.50s ease-in-out 1 alternate View;
  }
  
  @keyframes View {
    from { left:150px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #cont-3 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.75s ease-in-out 1 alternate View;
  }
  
  @keyframes View {
    from { left:120px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #cont-4 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 1s ease-in-out 1 alternate View;
  }
  
  @keyframes View{ 
    from { left:90px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #cont-5 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 1.25s ease-in-out 1 alternate View;
  }
  
  @keyframes View {
    from { left:60px; top:0px;}
    to   { left:0px; top:0px;}
  }

  
.cc{
    height: 70px;
    width: 80px;
    border-radius: 10px;
    
}
.cc:hover{
    opacity: 0.8;
}
.box-2{
    height: 70px;
    width: 170px;
    line-height: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
   
}

.btn{
    width: 50px;
    padding: 6px;
    margin-top: 5px;
    color: white;
    background-color: #0469e9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}
.box-3{
    display: flex;
    justify-content: space-around;
}
.box-3 p{
    font-size: 10px;
    margin-top: 10px;
    color: gray;
    
}
.btn:hover{
    background-color: #0e4e50;
}
#b-1{
    background-image: url(image/vincent-king-size-bed-with-storage-in-natural-finish-by-trendsbee-vincent-king-size-bed-with-storage-7bwrw8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#b-2{
    background-image: url(image/images\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#b-3{
    background-image: url(image/images\ \(2\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#b-4{
    background-image: url(image/images\ \(3\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#b-5{
    background-image: url(image/images\ \(4\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.footer{
    position: absolute;
    height: 50px;
    width: 260px;
    background-color:#ffff;
    display: flex;
    justify-content: space-around;
    
}
.material-icons{
    margin-top: 15px;
    color: #0469e9;
    cursor: pointer;
}
.material-icons:hover{
    color: #ff235a;
}

#like{
    height: 630px;
    width: 320px;
    position: absolute;
    /* z-index: 1; */
    top: 47px;
    margin-right: 600px;
    right: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color:white;
    display: none;
    
}

#move-1 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.25s ease-in-out 1 alternate demo;
  }
  
  @keyframes demo {
    from { left:150px; top:0px;}
    to   { left:0px; top:0px;}
    
  }
  #move-2 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.50s ease-in-out 1 alternate demo;
  }
  
  @keyframes demo {
    from { left:150px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #move-3 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 0.75s ease-in-out 1 alternate demo;
  }
  
  @keyframes demo {
    from { left:120px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #move-4 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 1s ease-in-out 1 alternate demo;
  }
  
  @keyframes demo{ 
    from { left:90px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #move-5 {
    position: relative; 
    left: 0;
    top: 0;
    animation: 1.25s ease-in-out 1 alternate demo;
  }
  
  @keyframes demo {
    from { left:60px; top:0px;}
    to   { left:0px; top:0px;}
  }
  #btn{
    padding: 5px;
    border-radius:10px; 
    border: none;
    width: 70px;
    background-color: #ff235a; 
    color: white; 
    overflow: hidden;
    cursor: pointer;
  }
  #btn:hover{
    background: #44B3C2;
  }

  @media screen and (max-width:900px) {
    #like{
      margin-right: 280px ;
    }
  }

  @media screen and (max-width:900px) {
    #like{
      margin-right: 130px ;
    }
  }


