*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4e5254;

}
body{
    --blue-color:#2faff9;
    --yellow-color:#ffdb14;
    --gray-cocor:#ccc;
    --orange-color:#d08545;

}
.lineDiv1{
    height: 3px;
    width: 740px;
    background-color: #2faff9;
}
.lineDiv{
    height: 3px;
    width: 800px;
    background-color: #2faff9;
    display: flex;
    animation-name: line;
    animation-duration: 2s;
    position: relative;
}
@keyframes line{
    0% {left: 0;}
    25% { left: 100px;}
    50% { left: 300px;}
    75% { left: 500px;}
    100%{left:740px;}
}
.image_container{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 300px;
    width: 300px;
    background-image:url(images/zask-favicon.png);
    background-repeat: no-repeat;
    background-size:auto 98%;
    background-position:2px 2px;
    cursor: pointer;
    animation-name: myanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   
}
@keyframes myanimation {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }

}
.line1{
    height: 50px;
    width: 50px;
    background-image: url(images/menu1.png);
    background-repeat: no-repeat;
    background-size:64%;
    background-position:11px 3px;
    cursor: pointer;
    display: none;
    z-index: 1;
    position: fixed;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
    overflow: scroll;
    display: none;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr minmax(100px,1300px) 1fr;
    grid-template-rows: 50px 60px auto;
    grid-template-areas:'side_header header side_header1'
                         'sub_header sub_header sub_header'
                         '. main .';
  
}
.side_header{
    grid-area:side_header;
    z-index: 1;
    background-color:var( --light-ash);
    position: sticky;
    top: 0;
}
.side_header1{
    grid-area:side_header1;
    z-index: 1;
    background-color:var( --light-ash);
    position: sticky;
    top: 0;
}
.header{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var( --light-ash);
    grid-area:header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.newDiv{
    width: 1280px;
    align-items: center;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1400px;
    margin: auto;
    background-color: #ffffff;
    background-color: var( --light-ash);
    color: #ffffff;
    
}
.links{
    flex-grow: 1;
    height: 40px;
    display: flex;
    
}
.search_box{
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content:end;
}
.icons{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}
.title{
    width: 83%; 
    margin: auto;
}
.button{
    display: flex;
    align-items: center;
    flex-grow: 0;
}
.question_button{
    height: 34px;
    margin-left: 10px;
    padding: 17px 24px 17px 24px;
    border-radius: 26px;
    font-size: 14px;
    background-color:var(--primaty-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.zask_image{
    padding: 5px 32px 33px 5px;
    background-image:url(images/zask-favicon.png);
    background-repeat: no-repeat;
    background-size:auto 33px;
    background-position:2px 2px;
    cursor: pointer;
}
.down_arrow{
    padding: 9px 0px 17px 9px;
}
.box{
    padding:3px 15px 7px 2px ;
    background-image:url(images/lyte_ui_sprite.6.svg);
    background-repeat: no-repeat;
    background-size:auto 503px;
    background-position:-42px 12px;
    cursor: pointer;
}
.box_link{
   padding-left: 40px;
}
.article_links{
    display: flex;
    margin-left: 19px;
}
.article{
    padding: 6px 26px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--font-color2);
    border: 1px solid transparent;
 
}
.article:hover{
    color: #2faff9;
    border: 1px solid #2faff9;
    cursor: pointer;
}
.input{
    padding: 2px;
    border-radius: 28px;
    display: flex;
    margin-left: 20px;
    background-color:var(--input-color);
    transition: 0.25s;
    border: 1px solid transparent;
}
.input:focus-within{
    padding-right: 80px;
}
.search11{
    height: 32px;
    width: 32px;
    display: flex;
    background-color:var(--input-color11);
    border-radius: 17px 0px 0px 17px;
}
.textName{
    padding: 6px 90px 6px 6px;
    color: #bfc1d1;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 0px 17px 17px 0px;
    color: black;
    background-color:var(--input-color11);
}
.profile{
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.profile1{
    display: flex;
    align-items: center;
}
.profile12{
    display: flex;
    align-items: center;
    
}
.profile11:hover{
    background: rgba(0,0,0,.0392156862745098);
    cursor: pointer;
}
.profile_image{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-image: url(images/mail.png);
    background-repeat: no-repeat;
    background-size: auto 105%;
    background-position: -1px 0px;
    cursor: pointer;
    margin: 8px 40px 8px 0px;
    
}
.circle11{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 20px;
}
.cursor{
    cursor: pointer;
    color: var(--font-color2);
}
.insideDiv{
    height: 50px;
    width: 38px;
    border-left: 2px solid var(--border-left);
    display: flex;
    align-items: center;
}
.insideDiv1{
    border-right: 2px solid var(--border-left);
}
.image1{
    height: 30px;
    width: 36px;
    border-radius: 50%;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -196px -300px;
    cursor: pointer;
   
}
.image1:hover{
    background-color: #3edcff34;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -229px -300px;
    cursor: pointer;
   
}
.image2{
    height: 30px;
    width: 36px;
    border-radius: 50%;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -63px -333px;
    cursor: pointer;
    
   
}
.image2:hover{
    background-color: #3edcff34;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -129px -333px;
    cursor: pointer;
    
    
}
.image3{
    height: 30px;
    width: 36px;
    border-radius: 50%;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -298px -70px;
    cursor: pointer;
  
   
   
}
.image3:hover{
    background-color: #3edcff34;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 395px;
    background-position: -298px -136px;
    cursor: pointer;
   
}
.sub_header{
    background-image:var( --background_image);
    grid-area:sub_header;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    max-width: 1535px;
    border-top: 1px solid var(--border-top-color);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--border-bottom-color);
}
.newDiv1{
    width: 85%;
    margin: auto;
    
}
.zask_a{
    font-size: 25px;
    color: #2faff9;
    font-weight: bold;
}
.zask_s{
    font-size: 18px;
    color:#2faff9;
    font-weight: bold;
}
.material-icons{
    width: 31px;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 346px;
    background-position: -314px 1px;
    cursor: pointer;
    border-radius: 50%;
   
}
.material-icons:hover{
    background-color: #3edcff34;
    background-position: -314px -57px !important;
}
.input:hover {
    border: 1px solid #ccccccb9;
}
.input:hover .material-icons{
    background-position: -314px -28px;
}

.main{
    background-color: #f8f8f8;
    background-color: var(--secondary-color);
    grid-area:main;
    height: 1500px;
   
}
.mainDiv_2{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height:1550px;
}
.filter_image{
    display: flex;
   /* padding: 23px 0 23px 0; */
   align-items: center;
   position: sticky;
   z-index: 1;
   top: 49px;
   background-color: var(--secondary-color);
}
.z_fil_text{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 2px;
    color: var(--font-color2);
}
.zaskQuestions{
    display: grid;
    gap: 10px;
}
.zaskQuestions1{
    margin-top: 15px; 
    padding-left: 60px;
}
.zaskQuestions1_inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;

}
.zaskQue{
 height: 75px;
 flex: 2 0 0;
 display: flex;
 align-items: center;
}
.zaskNew{
    height: 75px;
    flex: 2 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.z_filter{
    height: 50px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.zaskContent1{
    width: 100px;
    font-size: 24px;
    display: flex;
    align-items: center;
    color:#2faff9;
    font-weight: 700;
}
.zaskQuestions11{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.zaskContent2{
    height: 26px;
    padding: 17px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    border: 1px solid var(--border-color2);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.zaskContent2:hover{
   background-color:var(--background-color);
}
.z_fil_image{
    height: 29px;
    width: 21px;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 383px;
    background-position: -198px -192px;
}
.z_fil_image:hover{
    background-position: -231px -33px;
}
.z_new{
    padding: 7px;
    width: 156px;
    padding: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content:space-between;
    border: 1px solid var(--border-color2);
    cursor: pointer;
    color: #555;
}
.z_new:hover{
    background-color: var(--background-color);
}
.zaskNew2{
    height: 120px;
    width: 155px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 188px;
    left: 819px;
    display: none;
    z-index: 1;

}
.views{
    height:33px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}
.views:hover{
    background-color: #e7e9eb7a;
}

.arrow1{
   height: 24px;
   width: 70px;
   display: flex;
   justify-content: space-around;
}
.arrow2{
    height: 16px;
    width: 16px;
    background-image:url(images/lyte_ui_sprite.6.svg);
    background-repeat: no-repeat;
    background-size:auto 474px;
    background-position:-38px 4px;
    cursor: pointer;
}
.arrow01{
    height: 24px;
    width: 25px;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 309px;
    background-position: -287px -208px;
    cursor: pointer;
}
.new_text{
    height: 24px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--font-color2);
   
}
.contentBox{
    height: 160px;
    width: 100%;
    border: 1px solid var( --border-color);
    display: flex;
    box-shadow:var( --box-shadow11);
}
.contentBox:hover{
    box-shadow:var(--box-shadow2);
}
.num1{
    font-size: 18px;
    font-weight: bold;
    color: var(--font-color1);
}
.ques{
    padding-left: 4px;
     display: flex; 
     align-items: flex-end;
     font-size: 12px;
      padding-bottom: 2px;
       font-weight: bold;
       color: var(--font-color1);
}
.left_content{
    width: 10%;
    border-right:var(--left-border-color);
    display: flex;
    flex-direction: column;
    background-color:var(--white-color);
}
.right_content{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color1);
    /* background-color: white; */
    
}
.score{
    flex: 1 0 0;
    border-bottom: var(--bottom-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#score1{
    border-bottom: none;
}

.right_content1{
    flex: 1 0 0;

}
.score21{
     border-bottom: 1px solid #2bc3a1;
}
.answer11{
    color:var(--font);
}
.num11{
    color:var(--font);
}
.right_content2{
    flex: 1 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 14px;
}
.left_button{
    padding: 2px 12px;
    border-radius: 20px;
    color: var(--font-color2);
    background-color:var(--background);
    font-size: 12px;
    border: 1px solid var(--border-color1);
    transition: .2s;
}
.left_button:hover{
    background-color: #00a2ff;
    color: white;
    cursor: pointer;
}
.right_button{
   height: 30px;
   width: 321px;
   gap: 6px;
   padding-right: 10px;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}
.mail_id{
    font-size: 12px;
    color:#1073ac;
    cursor: pointer;
}
.p_image{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url(images/mail.png);
    background-repeat: no-repeat;
    background-size: auto 98%;
    background-position: 0px 2px;
    cursor: pointer;
}
.top_question{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.follow_tag{ 
   height: 120px;
   width: 100%;
   display: flex;
   border: 1px solid var( --border-color);
   align-items: center;
   background-color:var(--white-color1);
   padding-left: 35px;
   gap: 30px;
   box-shadow:var( --box-shadow11);
  
}
.follow_tag:hover{
    box-shadow:var(--box-shadow2);
}
.number_title{
    height: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.number_title1{
    display: flex;
    
}
.ask_button{
    border-radius: 32px;
    padding: 13px 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0,0%,100%,.95);
    background: linear-gradient(#58bffa,#21a5f2);
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(47 175 249 / 30%);
    transition: .25s;
    
}
.ask_button:hover{
    box-shadow: 0 4px 8px rgb(8 122 188 / 40%);
}
.number_title2{
    height: 23px;
    padding: 6px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var( --border-color2);
    cursor: pointer;
    color: var(--font-color2);
    box-shadow:var( --box-shadow12);
}
.number_title2:hover{
    background-color:var(--background-color);
}
.follow_tag1{
    font-size: 20px;
    font-weight: bold;
    color:var( --font-color1);
}
.edit_option{
    color: #2fb7fb;
    cursor: pointer;
}
.iframeDiv{
    height: 195px;
    width: 260px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    display: none;
    z-index: 100;
}
.iframeDiv1{
  width: 250px;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 10px 10px 0 0;
  background-color: #f5f5f5;
  border: 1px solid rgb(199, 196, 196);
}
.iframeDiv2{
    height: 100px;
}
.filterFrame{
    height: 670px;
    width: 319px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 100;
    animation-name: move;
    animation-duration: 1s;
    display: none;

}
@keyframes move{
    0% {left: -100px;}
    100%{left: 0;}
}
.filterFrame1{
    height: 60px;
    background-color: #f5f5f5;
    display: flex;
}
.filterFrame2{
    height: 600px;
}
.sidepar1{
    height: 670px;
    width: 319px;
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 1;
    display: none;
    
}
.sidepar{
    height: 600px;
}
.filter_text{
    display: flex;
    flex: 1 0 0;
    align-items: center;
    font-size: 20px;
    padding: 17px;
}
.apply_button{
    display: flex;
    flex: 2 0 0;
    justify-content: space-evenly;
    align-items: center;
}
.button1{
    height: 20px;
    width: 50px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button1:hover{
    color: #ffffff;
    background-color:#2faff9 ;
}
.para_text{
    font-size: 20px;
     font-weight: 700;
      padding: 10px 42px 0px 20px;
       cursor: pointer;
       color: #0a0a0a;
       line-height: 1.5;
       color:var(--font-color);
       
}
.para_text1{
    font-size: 14px;
     padding: 0px 16px 0 19px;
      cursor: pointer;
      color: #4e5254;
      line-height: 1.8;
      color:var(--font-color);
}
.answer{
    font-size: 13px;
    color:var(--font-color);

}
.num{
    font-size: 18px;
    font-weight: 700;
    color: var(--font-color);
}
.pointer{
    color: var(--font-color2);
     font-size: 12px;
      cursor:context-menu;
}
.images_icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2faff9;
    position: relative;
    cursor: pointer;
    display: none;
    position: fixed;

}
.box1{
    height: 32px;
    width: 30px;
    border-radius: 50%;
    background-color: #2faff9;
    background-image: url(images/icon.b.svg);
    background-repeat: no-repeat;
    background-size: auto 339px;
    background-position: -310px -281px;
    position: absolute;
    top: 18px;
    left: 20px;
}
.box1:hover{
    opacity: 70%;
   
}


 
