*{
    font-family: cursive;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.top{
    height: 400px;
    width: 75%;
    margin: auto;
    background-image: url(image/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.box{
   display: grid;
   height: auto;
   max-width: 1000px;
   padding: 40px 0;
   margin: auto;
   
}
.b{
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: white;
    margin-top: 230px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.image{
    height:70px;
    width:70px;
    border-radius: 50%;
    background-image: url(image/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -40px;
}
.child1{
   display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(5,1fr);
   grid-gap: 10px;
   grid-template-areas: "a1 a2 a3"
                        "a4 a5 a6" 
                        "a7 a8 a9"
                        "a10 .  ."  ;
   
}

.a1{
    grid-area: a1;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
    
   
}
.img{
    
    height: 180px;
    width: 85%;
    border-radius: 10px;
    border: 3px solid gray;

    
}

.img:hover{
    opacity: 0.2;
}
.c{
    margin-top: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -68px;
}
.d{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -120px;
}
.a2{
    grid-area: a2;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
   
}
.a3{
    grid-area: a3;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
   
}
.a4{
    grid-area: a4;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
}
.a5{
    grid-area: a5;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
   
}
.a6{
    grid-area: a6;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
   
}
.a7{
    grid-area: a7;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
   
}
.a8{
    grid-area: a8;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
}
.a9{
    grid-area: a9;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
}
.a10{
    grid-area: a10;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: center;
}


@media screen and (max-width:900px) {
    .child1{
        grid-template-columns:repeat(2 , 1fr);
        grid-template-areas: "a1 a2"
                             "a3 a4"
                             "a5 a6"
                             "a7 a8"
                             "a9 a10";
       margin-left: 20px;
    }
    
}
@media screen and (max-width:600px){
    .child1{
        grid-template-rows: repeat(1 , 1fr);
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10";

    }
    .img{
        width: 100%;
    }

}

