body{

    --light-ash:#2d3b44;
    --secondary-color:#1d282e;
    --white-color:#2e3b42;
    --primaty-color:#28363f;
    --font-color:rgba(255, 255, 255, 0.733);
    --border-color:transparent;
    --border-top-color:transparent;
    --border-bottom-color:rgba(0, 0, 0, 0.192);
    --font-color1:rgba(255, 255, 255, 0.733);
    --background_image:transparent;
    --background:#1d282e;
    --border-color1:#cccccc9a;
    --box-shadow:rgba(204, 194, 194, 0.24);
    --box-shadow1:rgba(204, 194, 194, 0.24);
    --box-shadow2: 0 3px 3px 3px #2e3b4254;
    --font-color2: rgba(255, 255, 255, 0.699);
    --input-color:#f5f5f50c;
    --input-color11:transparent;
    --left-border-color:2px solid rgba(0, 0, 0, 0.192);
    --bottom-border-color:2px solid rgba(0, 0, 0, 0.192);
    --border-color2:#cccccc2a;
    --font:#2bc3a1;
    --background-color:transparent;
    --white-color1:#2e3b42;
    --box-shadow11: transparent;
    --box-shadow12: transparent;
    --border-left:transparent;
    
    
    
    
}