body{
    --light-ash:#ffffff;
    --secondary-color:#f8f8f8;
    --white-color:#f8f8f8;
    --primaty-color:#2faff9;
    --font-color:#171717;
    --border-color:#dedede;
    --border-top-color:#dedede;
    --border-bottom-color:transparent;
    --font-color1:#4e5254;
    --background_image: url(images/community-banner.png);
    --background:#f5fdff;
    --border-color1:#e0f3f1;
    --box-shadow:inset 1px 1px 3px #fff, inset -1px -1px 3px rgb(0 0 0 / 10%), -1px -1px 6px rgb(0 0 0 / 10%), 1px 1px 3px #fff;
    --box-shadow1:0px 0px 5px 1px lightgrey;
    --box-shadow2: 0 1px 16px 2px #dedede;
    --font-color2: black;
    --input-color:#f5f5f5;
    --input-color11:#f5f5f5;
    --left-border-color:1px solid #dedede;  
    --bottom-border-color:1px solid #cccccc;
    --border-color2:#cccccc;
    --font:#171717;
    --background-color:#fefefe;
    --white-color1:white;
    --box-shadow11: 0 1px 1px 1px #eee;
    --box-shadow12: inset 1px 1px 3px #fff;
    --border-left:#f7f7f7;
   

    
    
    

}