body{
    --container-color:#00071d;
    --main-div:#131c31;
    --border-top:#1c2339;
    --bg-color:#00071d;
    --text-color:#fff;
    --theme-color:#131c31;
    --hover-color:#1c2339;
    --circle-color:#36415e;
}