body{
    --container-color:#f5f4fd;
    --main-div:#fff;
    --border-top:#f9f8fb;
    --bg-color:#f5f4fd;
    --text-color:black;
    --theme-color:#fff;
    --hover-color:#f9f8fb;
    --circle-color:#251d33;
}
