*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
body{
     --container-color: #f5f4fd;
  --main-div: #fff;
  --border-top: #f9f8fb;
  --bg-color: #f5f4fd;
  --text-color: black;
  --theme-color: #fff;
  --hover-color: #f9f8fb;
  --circle-color: #251d33;
}
.dark {
  --container-color: #00071d;
  --main-div: #131c31;
  --border-top: #1c2339;
  --bg-color: #00071d;
  --text-color: #fff;
  --theme-color: #131c31;
  --hover-color: #1c2339;
  --circle-color: #36415e;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color:var(--container-color);
    align-items: center;
    justify-content: center;
}
.mainDiv{
    height: 490px;
    width: 250px;
    border-radius: 10px;
    background-color:var(--main-div);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box{
    height: 420px;
    width: 220px;
    display: flex;
    flex-direction: column; 
    overflow-y:auto;
    gap: 5px;
}
.sidebar{
    display: flex;
    height: 80px;
    border-top: 1px solid var( --border-top);
    align-items: center;
}
.design{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
   
}
.bgcolor{
    background-color:var(--bg-color);
    display: flex;
    justify-content: space-around;
}
.theme{
    background-color: var(--theme-color);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
   
}

.design p{
    padding-left: 10px;
}
.theme p{
    padding-left: 5px;
}
.design1{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center; 
   justify-content:start;
    padding: 13px; 
     position: relative;
   
}
.design:hover{
    background-color: var(--hover-color);
}
.img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(./images/i-know\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.design01{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
   
}
.design01:hover{
    background-color:var(--hover-color);
}
.design01 >p{
    padding-left: 10px;
}
.menu{
    height: 20px;
    width: 20px;
    background-color:var(--circle-color);
    position: absolute;
    top: 60px;
    right: -12px;
    border-radius: 50%;
    cursor: pointer;
   
}
#dark{
  position: absolute;
}
#light{
  display: none;
}
#icon{
    position: absolute;
    right: 2px;
    top: 4px;
    color: #fff;
    font-size: 12px !important  
}
.sizeBox{
    width: 70px;
    transition: 0.3s ease-in-out;
}
#bgcolor01{
    background-color:var(--bg-color);
}
#move1 {
  position: relative;
  animation: 0.25s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 150px;
  }

  to {
    right: 0px;
  }

}

#move2 {
  position: relative;
  animation: 0.50s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 150px;
  }

  to {
    right: 0px;
  }
}

#move3 {
  position: relative;
  animation: 0.75s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 120px;
  }

  to {
    right: 0px;
  }
}

#move4 {
  position: relative;
  animation: 1s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 90px;
  }

  to {
    right: 0px;
  }
}

#move5 {
  position: relative;
  animation: 1.25s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 60px;
  }

  to {
    right: 0px;
  }
}

#move6 {
  position: relative;
  animation: 1s ease-in-out 1 alternate View;
}

@keyframes View {
  from {
    right: 30px;
  }

  to {
    right: 0px;
  }
}
