*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.heading{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box{
    display: grid;
    height: auto;
    max-width: 1000px;
    padding: 40px 0;
    margin: auto;
    
    
 }
 .b{
     position: absolute;
     height: 200px;
     width: 100%;
     background-color: white;
     margin-top: 230px;
     z-index: 1;
     display: flex;
     justify-content: center;
 }
 
 .image{
     height:70px;
     width:70px;
     border-radius: 50%;
     background-image: url(image/photo2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     cursor: pointer;
     margin-top: -40px;
 }
 .child1{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-areas: "a1 a2 a3"
                         "a4 a5 a6" 
                         "a7 a8 a9"
                         "a10 .  ."  ;
    
 }
 
 .img{ 
     height: 180px;
     width: 85%;
     border-radius: 10px;
     border: 3px solid gray;
     background-repeat: no-repeat;
     background-size: cover;   
 }
 
 .img:hover{
     opacity: 0.3;
 }
 .img1{
    background-image: url("image/zoho.png");
 }
 .img2{
    background-image: url("image/expense.jpg");   
 }
 .img3{
    background-image: url("image/bill.jpg");   
 }
 .img4{
    background-image: url("image/webmag-13.jpg");   
 }
 .img5{
    background-image: url("image/chat.png");   
 }
 .img6{
    background-image: url("image/day findar.jfif");   
 }
 .img7{
    background-image: url("image/navigation.gif");   
 }
 .img8{
    background-image: url("image/flex.jpg");   
 }
 .img9{
    background-image: url("image/calendar.jpg");   
 }
 .img10{
    background-image: url("image/calculator.jpg");   
 }
 .c{
     margin-top: -65px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -68px;
 }
 .d{
     margin-top: -20px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -120px;
 }
 
 @media screen and (max-width:900px) {
     .child1{
         grid-template-columns:repeat(2 , 1fr);
         grid-template-areas: "a1 a2"
                              "a3 a4"
                              "a5 a6"
                              "a7 a8"
                              "a9 a10";
        margin-left: 20px;
     }
     
 }
 @media screen and (max-width:600px){
     .child1{
         grid-template-rows: repeat(1 , 1fr);
         grid-template-areas: "a1"
                              "a2"
                              "a3"
                              "a4"
                              "a5"
                              "a6"
                              "a7"
                              "a8"
                              "a9"
                              "a10";
 
     }
     .img{
         width: 100%;
     }
 
 }
 
 
 
 
 
