*{
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
    
	
}
.box{
    height: 720px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-image: url(https://tobuz-dev-bkt.s3.amazonaws.com/15196404536401519640453638ztjo1626818380149708726.jpg);
   
}

.container{
    height: 650px;
    width: 60%;
    background-color:#e7e9eb;
    margin-right: 3px;
    border-radius: 90px 0px;
   

}
.sbill{
    display: flex;
    gap: 50px;
    margin: auto;
    width: 80%;
}
.frm{
    height: 70px;
    text-align: center;
    color:#fd005f;
    margin-top: 20px;
}
.grid{
    height: 650px;
    width: 60%;
    background-color:#e7e9eb;
    margin-right: 3px;
    border-radius:0px 90px;
}
label{
    padding: 20px;
}

th, td{
    text-align: center;
    padding: 10px;
}
input{
    width: 200px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid black;
}
input:hover{
    border: 1px solid #fd005f;
}
button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #32dac3;
    color: #32dac3;
    background: linear-gradient(to right, #ff105f,#ffad0f);
}
input:hover{
    background-color: #d3af76;
}
td{
    border-bottom: 1px solid black;
}

