*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
   background-color: #fff;
}
.heading{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

.box{
    max-width: 1000px;
    padding: 40px 0;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    
 }
 .b{
     position: absolute;
     height: 200px;
     width: 100%;
     background-color: white;
     margin-top: 230px;
     z-index: 1;
     display: flex;
     justify-content: center;
 }
 
 .image{
     height:70px;
     width:70px;
     border-radius: 50%;
     background-image: url(image/photo2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     cursor: pointer;
     margin-top: -40px;
 }
 .child1{
    height:auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows:auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    
 }
 .a1{
    width: 250px;
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.a10{
    grid-area: a10;
}
a{
     text-decoration: none;
 }

 .img{ 
     border-radius: 15px;
     background-color: #fff;
 }
 .active{
     width: 270px;
     height: 250px;
     padding: 15px;
     display: flex;
     border-radius: 15px;
     background-color: hsl(218, 58%, 96%);
 }
 .title{
    font-size: 16px;
    
}
 .img:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  }
 .c{
     margin-top: -65px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -68px;
 }
 .d{
     margin-top: -20px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: -120px;
 }
 .element{
     height: 100px;
     width: 100px;
     border-radius:10px;
     background-repeat: no-repeat;
     background-size:100% 100%;
     transition: all 1s ease;
   
 }
.eff01{
    background-image: url("image/rotation.jpg");   
}
.eff02{
    background-image: url("image/timeLine1.jpg"); 
   
}
.eff03{
    background-image: url("image/transition.webp");  
}
.eff04{
    background-image: url("image/flashcard1.jfif"); 
}
.eff05{
    background-image: url("image/invoice.jpg"); 
}
.eff06{
    background-image: url("image/debitcard.webp");  
    
}
.eff07{
    background-image: url("image/day\ findar.jfif");  
}
.eff08{
    background-image: url("image/bill.jpg"); 
}
.eff09{
    background-image: url("image/day\ findar1.jfif");  
}
.eff10{
    background-image: url("image/tollbooth-image.jpg");  
}
.eff11{
    background-image: url("image/circle.jpg");  
}
.eff12{
    background-image: url("image/color_line.png"); 
}
.eff13{
    background-image: url("image/person_details.gif");  
}
.eff14{
    background-image: url("image/add_even.png");  
}
.eff15{
    background-image: url("image/timer.png");  
   
}
.eff16{
    background-image: url("image/loancal.jpg"); 
   
}
.eff17{
    background-image: url("image/tip_calc.png"); 
}
.eff18{
    background-image: url("image/checkbox.jpg");  
}
.eff19{
    background-image: url("image/mail.jfif"); 
}
.eff20{
    background-image: url("image/bmi\ cal.png");  
}
.eff21{
    background-image: url("image/weight.png");
}
.eff22{
    background-image: url("image/theme.png");  
    background-size: 118px auto;
}
.eff23{
    background-image: url("image/zoom.png"); 
}
.eff24{
    background-image: url("image/add-to-card.jfif"); 
}
.eff25{
    background-image: url("image/carousel.webp"); 
}
.eff26{
    background-image: url("image/redbus.jfif"); 
}
.eff27{
    background-image: url("image/cursorPointer.png"); 
}
.eff28{
    background-image: url("image/calculator.jfif"); 
}
.eff29{
    background-image: url("image/clock.jpg"); 
}
html, body {
    height: 100%;
  }
  .sub_container1{
    height:150px;
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 15px 15px 0 0;
}
.sub_container2{
    height:105px;
    width:200px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    position: absolute;
    border-radius: 0 0 15px 15px;
}
.top_container{
    top:-130px;
    background-color: #fff;
}
.bottom_container{
    bottom:-110px;
    background-color: #fff;
}
.a1:hover .top_container{
    top: 0;
    transform:rotateY(0deg);
    transition: all 0.35s ease-in-out;
}
.a1:hover .bottom_container{
    bottom: 0;
    transform:rotateY(0deg);
    transition: all 0.35s ease-in-out;
} 
.btn{
    padding:10px 20px ;
    border-radius: 5px;
    border: 3px solid #01A2AC;
    background-color:#fff;
    cursor: pointer;
    
}
.btn:hover{
    background-color: #01A2AC;
    color: #F5F5F5;
}
.child2{
    height:auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    
 }

 @media screen and (max-width:920px) {
     .child1{
         grid-template-columns:repeat(2 , 1fr);
         margin-left: 20px;
     }
     .child2{
        grid-template-columns:repeat(2 , 1fr);
        margin-left: 20px;
    }

     
 }
 @media screen and (max-width:600px){
     .child1{
         grid-template-columns: repeat(1 , 1fr);
     }
     .child2{
        grid-template-columns: repeat(1 , 1fr);
    }
     .img{
         width: 100%;
     }
 
 }
 
